nav{
    background-color: #348990;
    margin-top: 0px;
    color: white;
}

ul li{
    margin-top: 0px;
    padding: 35px 35px 35px 35px;
    border: none;
    display: inline-block;
    text-align: center;
    width: 150px;
}

#link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#link2{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#link3{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#link4{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#link5{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
