nav{
    background-color: #348990;
    margin-top: 0px !important;
    color: white;
    width: 100% !important;
}

ul li{
    background-color: #348990;
    margin-top: 0px;
    color: white;
    padding: 35px 35px 35px 35px;
    border: none;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 150px;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 150px;
}

nav ul li ul{
    display: none;
    position: absolute;
    text-decoration: none;
    background-color: #348990;
}

nav ul li ul li{
    color: white;
    font-size: 20px;
    padding: 35px 35px 35px 35px;
}


