nav{
    top: 0;
    right: 0;
    left: 0;
    width: 100% !important;
    text-align: center;
    background-color: #348990;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

nav > ul li{
    position: relative;
    background-color: #348990;
    color: white;
    width: 150px;
    float: left;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 150px;
    padding: 30px 25px 30px 25px;
}




