body{
    background-color: #86DDE4;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.website-counter {
    background-color: #123738;
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
  }
  
  /* Styles for reset button */
  #reset {
    margin-top: 20px;
    background-color: #008cba;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 20px;
    color: white;
    border: 0;
  }

header{
    text-align: center;
}
h1{
    color:black;
    text-align: center;
    margin-top: 0.5em;
}
h4{
    text-align: left;
    font-weight: bold !important;
    text-decoration: underline;
}
h3{
    font-style: italic;
    text-decoration: underline;
}
img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#indent1, #indent2, #indent3{
    text-indent: 3cm;
}
.reflect_1::first-letter{
    font-size: 220%;
    font-style: italic;
}
main{
    text-align: center;
}
p{
    text-align: left;
}
a{
    color: blue;
}
.education{
    text-align: left;
}
.education ul{
    margin:0;
    padding: 0;
}
.education ul li{
    margin-left: 0;
}
#REU{
    text-align: left;
}
iframe{
    width:"640px";
    height:"480px";
    border: 0.2px solid black;
}
.PS_project{
    display: block;
}

#contacts{
    text-align: center;
}
.credentials{
    text-align: center;
}
.reflections{
    text-align: left;
}
footer{
    margin-top: auto 0;
    text-align: center;
    left: 0;
    right: 0%;
    bottom: 0;
    border: 1px solid black;
    background-image: url(images/footer_background.jpeg);
    background-size: 100%;
    display: inline-block;
}
.phone{
    width: 20px;
    height: 20px;
    display: inline-block;
    transition: transform .2s;
}
.mail{
    width: 25px;
    height: 25px;
    display: inline-block;
    transition: transform .2s;
}
.phone:hover{
    transform: scale(1.5);
}
.mail:hover{
    transform: scale(1.5);
} 
table{
    border-collapse: collapse;
    background-color: antiquewhite;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th{
    border: 2px solid black;
    font-weight: bold;
    text-align: left;
    color: white;
    background-color: rgb(139, 105, 11) !important;
}
td{
    border: 2px solid black;
}
tbody{
    align-self: center;
}
caption{
    text-align: center;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
@media (max-width: 500px) {
    p{
        font-size: 1.0em;
        line-height: 1.4;
        color: black;
    }
    img{
        height: 240px;
    }
    h1{
        color: black;
    }
    h3{
        color: black;
    }
    form{
        align-content: center;
        text-align: center;
    }
    #contacts{
        text-align: center;
    }
    table{
        border-collapse: collapse;
        background-color: antiquewhite;
        width: 500px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    th{
        border: 2px solid black;
        font-weight: bold;
        text-align: left;
        color: white;
        background-color: rgb(139, 105, 11) !important;
    }
    td{
        border: 2px solid black;
    }
    tbody{
        align-self: center;
    }
    caption{
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
      }
}
@media print {
    body{
        margin: 1in;
        page-break-after: avoid;
        zoom: 60%;
    }
    ul{
        color: black;
    }
    p{
        color: black;
    }
    h1{
        color: black;
    }
    blockquote{
        color: black;
        font-family: 'Roboto', sans-serif;
    }
    footer{
        color: black;
    }
    footer a, .credentials a{
        color: black !important;
        text-decoration: underline;
    }
}